<html lang="en">
	<head>
    <title>Access Denied!</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/my_style.css">
	</head>
	<body>
		<div class="container">
			<div class="alert alert-danger middle margin-top-200" role="alert">
				<strong>Access Denied!</strong> You forgot to Login!
			</div>

			<div class="middle">
				Please: <button id="returnToIndex" class="btn btn-primary" onClick="location.href='login'">Login!</button>
			</div>
		</div>			
	</body>
</html>