<!doctype html>
<html>
<head>
    <title>Task Planner</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/my_style.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/jquery-ui.min.css">
    

</head>
<body>


<%- include modal.ejs %>

    <div id="countrySelect" class="select-country">
        <button class="btn btn-default btn-xs" onClick="checkallcountries()" style="width:100%">Check All</button>
        <button class="btn btn-default btn-xs" onClick="uncheckallcountries()" style="width:100%">Uncheck</button>
        <form action="" id="setCountries">
            <% for (var i=0; i < countries.length; i++) {%>
            <label class="checkbox">
                <input 
                type="checkbox" 
                name="setCountry[]" 
                value="<%= countries[i].ClassCountryID %>" 
                >
                <%= countries[i].ClassCountryName %>
            </label>
            <% }%>
        </form>        
        <button class="btn btn-primary" onclick="selectcountries()">Set Countries</button>
    </div>
    <div class="container" >
    <%- include navigation.ejs %>
        <hr>
        <table class="table table-hover" style="margin-top: -5px"> 
            <thead> 
                <tr> 
                    <th>Start Date</th> 
                    <th>Start Time</th> 
                    <th>Country</th>
                    <th>Subject</th>
                    <th>Status</th>
                    <th>System</th>
                    <th>Modified</th>
                    <th>Progress</th>
                </tr>
            </thead>
            <tbody id="tasklist">
            </tbody>
        </table>
    </div>
    
    


    <script src="/javascripts/jquery-2.2.0.js"></script>
    <script src="/javascripts/jquery-ui.min.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/main.js"></script>
    <script src="/javascripts/login_checks.js"></script>
    <script>
        $(document).ready(function(){
            $("#countrySelect").draggable();
        });        

        var socket = io();
        $(document).ready(function() {
            setInterval(checkTasks, 60000);
        });

        socket.on('Ping', function(){
            console.log('Ping Received!');
            selectcountries();
        });
    </script>
</body>
</html>

