<!doctype html>
<html>
<head>
    <title>Task</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/my_style.css">

</head>
<body>
<%- include task_progress_modal.ejs %>
	<div class="container">
		<div id="taskinfo"></div>
	</div>
    <script src="/javascripts/jquery-2.2.0.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/main.js"></script>
    <script>
        var socket = io();
        selectTask( <%= tasklistid %>);
        socket.on('Update Task View', function(){
            selectTask( <%= tasklistid %>);
        });
    </script>
</body>
</html>